/* Navbar.css */
/*.navbar {
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 110%; 
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px; 
 /* margin: 0 auto; */
  /*border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
  padding: 15px 35px; 
  background-color:black;
  font-size:15px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color:white;
  font-style:italic;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
 /* color: #333;*/
 /*color:white;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #007bff;
}
*/
/* Navbar.css */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1000; 
  padding: 4px 0; 
 
  
  margin-left:-8px;
  
  margin-right:-2px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px; 
  background-color:black;
  font-size:15px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  padding-left:4px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin:0;
  padding: 2;
}

.nav-links li {
  display: inline;
  
}

.nav-links a {
  color: white;
  text-decoration: none;
  
}

.nav-links a:hover {


    color: green;
  
}


body {
  padding-top: 60px; 
}

 /*.logOut-button {
  background-color: #f44336;
  color: white;
  width:100px;
  border-radius:5px;
  padding:3;
  
  
}
.logOut-button:hover {
  background-color: #da190b; 
}
.nav-links button[type=button] {
  width: calc(50% - 12px); 
  padding: 10px;
  margin-top: 8px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}*/
/* Navbar.css */
/*.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color:black;
  color:white;
  
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color:white;
}

.nav-links li {
  position: relative;
}

.nav-links a, .nav-links .logOut-button {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  transition: background 0.3s ease;
}*/

.logOut-button:hover {
  background: #f10707ad;
  border-radius: 5px;
}

.logOut-button {
  background-color: hsla(0, 83%, 49%, 0.959);
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  
}

.logOut-button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}

.logOut-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 77, 77, 0.5);
}



